<header class="site-header">
  <div class="header-container">

    <div class="logo">
      <a href="index.html">
        Colonialismo Epistêmico & Islamofobia
      </a>
    </div>

    <nav class="nav-menu" id="navMenu">
      <ul>
        <li><a href="index.html">Início</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Teoria</a>
          <ul class="dropdown-menu">
            <li><a href="pages/teoria/colonialismo.html">Colonialismo Epistêmico</a></li>
            <li><a href="pages/teoria/islamofobia.html">Islamofobia</a></li>
            <li><a href="pages/teoria/intersecao.html">Intersecções</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Mídia</a>
          <ul class="dropdown-menu">
            <li><a href="pages/midia/narrativas.html">Narrativas</a></li>
            <li><a href="pages/midia/representacao.html">Representação</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle">Interativo</a>
          <ul class="dropdown-menu">
            <li><a href="pages/interativo/dados.html">Dados</a></li>
            <li><a href="pages/interativo/experiencia.html">Experiências</a></li>
          </ul>
        </li>

        <li><a href="pages/vozes.html">Vozes</a></li>
        <li><a href="pages/glossario.html">Glossário</a></li>
        <li><a href="pages/avaliacao/autoavaliacao.html">Autoavaliação</a></li>
        <li><a href="pages/escuta/formulario.html">Escuta</a></li>
        <li><a href="pages/artigo.html">Artigo</a></li>
        <li><a href="pages/referencias.html">Referências</a></li>
      </ul>
    </nav>

    <button class="menu-toggle" id="menuToggle" aria-label="Abrir menu">
      ☰
    </button>

  </div>
</header>
